.top {
  background-image:  url("./images/Meteor.svg");
  height: 100vh;
  width:100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #172347;
}


button {
  margin-top:50px;
  background-color: transparent;
  color: rgba(255,255,255,0.8);
  border:0;
  display: inline-block;
  width: 20%;
  opacity: 0.5;
  transition:0.2s;
}

button:hover{
  opacity: 1;
  transition:0.8;
}
button:active{
  opacity: 1;
  transition:0.8s;
}
