.timer {
  background-image:  url("./images/Meteor.svg");
  height: 100vh;
  width:100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #172347;
}

main {
  width: 600px;
  height:600px;
  max-height: 600px;
  margin: 0 auto;
  position:absolute;
  top: 40%;
  left: 50%;
  text-align: center;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

button {
  margin-top:50px;
  background-color: transparent;
  color: rgba(255,255,255,0.8);
  border:0;
  display: inline-block;
  width: 20%;
  opacity: 0.5;
  transition:0.2s;
}

button:hover{
  opacity: 1;
  transition:0.8;
}
button:active{
  opacity: 1;
  transition:0.8s;
}
