
.CircularProgressbar .CircularProgressbar-path {
  stroke: #0ef3c5 !important;
  transition: 'stroke-dashoffset 10s ease 0s';
  stroke-opacity: 0.8;

}

.CircularProgressbar .CircularProgressbar-trail {
  stroke: #038298 !important;
  stroke-opacity: 0.2;
}

.CircularProgressbar .CircularProgressbar-text {
  fill: #0ef3c5 !important;
  font-size: 35px;
  opacity: 0.8;
}
