
.CircularProgressbar .CircularProgressbar-path {
  stroke: #0ef3c5 !important;
  stroke-opacity: 0.8;

}

.CircularProgressbar .CircularProgressbar-trail {
  stroke: #038298 !important;
  stroke-opacity: 0.2;
}

.CircularProgressbar .CircularProgressbar-text {
  fill: #0ef3c5 !important;
  font-size: 130%;
  align-content:center;
  opacity: 0.9;
}

.text, .activeInput, .disabledInput {
  color: #0ef3c5;
  font-size: 130px;
  opacity: 1;
}
.text {
  dominant-baseline: middle;
  text-anchor: middle;
}
.activeInput{
  width:2ch;
  background: transparent;
  position: relative;
  border: 1px solid #FFF;
  display: inline-block;
}

.disabledInput{
  width:2ch;
  background: transparent;
  position: relative;
  border:none;
  display: inline-block;
}